<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- spring配置连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
      		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
      		<property name="jdbcUrl" value="jdbc:mysql:///medical5_6"></property>
      		<property name="user" value="root"></property>
      		<property name="password" value="haosql"></property>
     </bean>
     
     <!-- SessionFactory -->
     <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
     	<property name="dataSource" ref="dataSource"></property>
     	<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
     </bean>
	
	<!-- 配置action的对象 -->
 	<!-- <bean id="userAction" class="com.itcast.Action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean> -->
	
	<!-- 创建service对象 -->
	<!-- <bean id="userService" class="com.itcast.service.UserService">
		注入Dao
		<property name="userDao" ref="userDaoImpl"></property>
	</bean> -->
	

	<!-- 创建UserDao实现类的对象 -->
	<!-- <bean id="userDaoImpl" class="com.itcast.Dao.UserDaoImpl">
		在userDaoImpl中注入hibernateTemplate
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean> -->
	
	<!-- 创建HibernateTemplate对象 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<!-- 注入SessionFactory属性 -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 事务配置 -->
	<!-- 1：配置事务管理器 -->
	<bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<!-- 注入sessionFactior,注入dataSource也可以，sessionFactior包含dataSource -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 2：开启事务注解 -->
	<tx:annotation-driven transaction-manager="hibernateTransactionManager"/>
	
	<!-- 分模块开发 -->
	<!-- 引入其他的配置文件 -->
	<import resource="classpath:action.xml"/>
	
</beans>